@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    font-family: 'Inter','Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

h1, h2, h3, h4, h5 {
    font-weight: 600 !important;
}

/* .card-pelajaran {
    background-color: #E4E9BE !important;
} */